<ol class="breadcrumb">
	  <li><a href="#/eventslist">Escrow Events</a></li>
	  <li class="active">Event 101</li>
	</ol>
	<ul class="nav nav-pills navTabs">
	  <li role="presentation" ui-sref-active="active"><a href="#/details" ui-sref=".event-details">Details</a></li>
	  <li role="presentation" ui-sref-active="active"><a href="#/registrations" ui-sref=".event-registrations">Registrations</a></li>
	  <li role="presentation" ui-sref-active="active"><a href="#/handouts" ui-sref=".event-handouts">Handouts</a></li>
	  <li role="presentation" ui-sref-active="active"><a href="#/alerts" ui-sref=".event-alerts">Alerts</a></li>
	  <li role="presentation" ui-sref-active="active"><a href="#/poll-questions" ui-sref=".event-pollQues">PollQuestions</a></li>
	  <li role="presentation" ui-sref-active="active"><a href="#/user-submitted-questions" ui-sref=".event-userSubQues">User submitted Questions</a></li>
	</ul>
	<!-- start: tabs view-->
	<div class="navTabContainer" ui-view>
	  
	</div>